<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>id</th>
      <th>humidity</th>
      <th>timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>85.20</td>
      <td>01.06.2024:17:03:35</td>
    </tr>
    <tr>
      <td>2</td>
      <td>83.46</td>
      <td>01.06.2024:17:03:38</td>
    </tr>
    <tr>
      <td>3</td>
      <td>87.46</td>
      <td>01.06.2024:17:03:44</td>
    </tr>
    <tr>
      <td>4</td>
      <td>80.48</td>
      <td>01.06.2024:17:03:50</td>
    </tr>
    <tr>
      <td>5</td>
      <td>86.04</td>
      <td>01.06.2024:17:03:53</td>
    </tr>
    <tr>
      <td>6</td>
      <td>86.41</td>
      <td>01.06.2024:17:03:59</td>
    </tr>
    <tr>
      <td>7</td>
      <td>84.29</td>
      <td>01.06.2024:17:04:08</td>
    </tr>
    <tr>
      <td>8</td>
      <td>80.79</td>
      <td>01.06.2024:17:04:11</td>
    </tr>
    <tr>
      <td>9</td>
      <td>83.56</td>
      <td>01.06.2024:17:04:16</td>
    </tr>
    <tr>
      <td>10</td>
      <td>84.61</td>
      <td>01.06.2024:17:04:23</td>
    </tr>
    <tr>
      <td>11</td>
      <td>82.60</td>
      <td>01.06.2024:17:04:28</td>
    </tr>
    <tr>
      <td>12</td>
      <td>85.24</td>
      <td>01.06.2024:17:04:29</td>
    </tr>
    <tr>
      <td>13</td>
      <td>80.57</td>
      <td>01.06.2024:17:04:46</td>
    </tr>
    <tr>
      <td>14</td>
      <td>85.68</td>
      <td>01.06.2024:17:04:52</td>
    </tr>
    <tr>
      <td>15</td>
      <td>86.74</td>
      <td>01.06.2024:17:04:55</td>
    </tr>
    <tr>
      <td>16</td>
      <td>80.76</td>
      <td>01.06.2024:17:04:58</td>
    </tr>
    <tr>
      <td>17</td>
      <td>81.52</td>
      <td>01.06.2024:17:05:04</td>
    </tr>
    <tr>
      <td>18</td>
      <td>85.32</td>
      <td>01.06.2024:17:05:10</td>
    </tr>
    <tr>
      <td>19</td>
      <td>82.88</td>
      <td>01.06.2024:17:05:14</td>
    </tr>
    <tr>
      <td>20</td>
      <td>89.22</td>
      <td>01.06.2024:17:05:16</td>
    </tr>
    <tr>
      <td>21</td>
      <td>87.95</td>
      <td>01.06.2024:17:05:23</td>
    </tr>
    <tr>
      <td>22</td>
      <td>89.72</td>
      <td>01.06.2024:17:05:28</td>
    </tr>
    <tr>
      <td>23</td>
      <td>80.18</td>
      <td>01.06.2024:17:05:40</td>
    </tr>
    <tr>
      <td>24</td>
      <td>82.05</td>
      <td>01.06.2024:17:05:43</td>
    </tr>
    <tr>
      <td>25</td>
      <td>88.22</td>
      <td>01.06.2024:17:05:46</td>
    </tr>
    <tr>
      <td>26</td>
      <td>89.64</td>
      <td>01.06.2024:17:05:53</td>
    </tr>
    <tr>
      <td>27</td>
      <td>83.22</td>
      <td>01.06.2024:17:05:58</td>
    </tr>
    <tr>
      <td>28</td>
      <td>83.56</td>
      <td>01.06.2024:17:05:59</td>
    </tr>
    <tr>
      <td>29</td>
      <td>87.21</td>
      <td>01.06.2024:17:06:13</td>
    </tr>
    <tr>
      <td>30</td>
      <td>89.24</td>
      <td>01.06.2024:17:06:19</td>
    </tr>
    <tr>
      <td>31</td>
      <td>86.14</td>
      <td>01.06.2024:17:06:20</td>
    </tr>
    <tr>
      <td>32</td>
      <td>80.88</td>
      <td>01.06.2024:17:06:31</td>
    </tr>
    <tr>
      <td>33</td>
      <td>84.35</td>
      <td>01.06.2024:17:06:32</td>
    </tr>
    <tr>
      <td>34</td>
      <td>80.15</td>
      <td>01.06.2024:17:06:43</td>
    </tr>
    <tr>
      <td>35</td>
      <td>84.98</td>
      <td>01.06.2024:17:06:44</td>
    </tr>
    <tr>
      <td>36</td>
      <td>84.19</td>
      <td>01.06.2024:17:06:49</td>
    </tr>
    <tr>
      <td>37</td>
      <td>80.08</td>
      <td>01.06.2024:17:06:59</td>
    </tr>
    <tr>
      <td>38</td>
      <td>89.10</td>
      <td>01.06.2024:17:07:05</td>
    </tr>
    <tr>
      <td>39</td>
      <td>86.55</td>
      <td>01.06.2024:17:07:10</td>
    </tr>
    <tr>
      <td>40</td>
      <td>83.25</td>
      <td>01.06.2024:17:07:11</td>
    </tr>
    <tr>
      <td>41</td>
      <td>83.42</td>
      <td>01.06.2024:17:07:16</td>
    </tr>
    <tr>
      <td>42</td>
      <td>87.43</td>
      <td>01.06.2024:17:07:23</td>
    </tr>
    <tr>
      <td>43</td>
      <td>82.62</td>
      <td>01.06.2024:19:20:08</td>
    </tr>
    <tr>
      <td>44</td>
      <td>82.84</td>
      <td>01.06.2024:19:20:11</td>
    </tr>
    <tr>
      <td>45</td>
      <td>82.06</td>
      <td>01.06.2024:19:20:16</td>
    </tr>
    <tr>
      <td>46</td>
      <td>89.75</td>
      <td>01.06.2024:19:20:25</td>
    </tr>
    <tr>
      <td>47</td>
      <td>88.70</td>
      <td>01.06.2024:19:20:26</td>
    </tr>
    <tr>
      <td>48</td>
      <td>81.70</td>
      <td>01.06.2024:19:20:34</td>
    </tr>
    <tr>
      <td>49</td>
      <td>85.46</td>
      <td>01.06.2024:19:20:37</td>
    </tr>
    <tr>
      <td>50</td>
      <td>86.31</td>
      <td>01.06.2024:19:20:55</td>
    </tr>
    <tr>
      <td>51</td>
      <td>82.03</td>
      <td>01.06.2024:19:21:04</td>
    </tr>
    <tr>
      <td>52</td>
      <td>87.42</td>
      <td>01.06.2024:19:21:16</td>
    </tr>
    <tr>
      <td>53</td>
      <td>85.26</td>
      <td>01.06.2024:19:21:28</td>
    </tr>
    <tr>
      <td>54</td>
      <td>86.49</td>
      <td>01.06.2024:19:21:29</td>
    </tr>
    <tr>
      <td>55</td>
      <td>86.17</td>
      <td>01.06.2024:19:21:41</td>
    </tr>
    <tr>
      <td>56</td>
      <td>85.26</td>
      <td>01.06.2024:19:21:47</td>
    </tr>
    <tr>
      <td>57</td>
      <td>80.90</td>
      <td>01.06.2024:19:21:49</td>
    </tr>
    <tr>
      <td>58</td>
      <td>83.52</td>
      <td>01.06.2024:19:21:59</td>
    </tr>
    <tr>
      <td>59</td>
      <td>81.41</td>
      <td>01.06.2024:19:22:16</td>
    </tr>
    <tr>
      <td>60</td>
      <td>80.13</td>
      <td>01.06.2024:19:22:22</td>
    </tr>
    <tr>
      <td>61</td>
      <td>80.91</td>
      <td>01.06.2024:19:22:29</td>
    </tr>
    <tr>
      <td>62</td>
      <td>85.44</td>
      <td>01.06.2024:19:22:35</td>
    </tr>
    <tr>
      <td>63</td>
      <td>86.36</td>
      <td>01.06.2024:19:22:43</td>
    </tr>
    <tr>
      <td>64</td>
      <td>83.55</td>
      <td>01.06.2024:19:22:56</td>
    </tr>
    <tr>
      <td>65</td>
      <td>88.35</td>
      <td>01.06.2024:19:23:01</td>
    </tr>
    <tr>
      <td>66</td>
      <td>88.84</td>
      <td>01.06.2024:19:23:05</td>
    </tr>
    <tr>
      <td>67</td>
      <td>87.93</td>
      <td>01.06.2024:19:23:13</td>
    </tr>
    <tr>
      <td>68</td>
      <td>82.69</td>
      <td>01.06.2024:19:23:16</td>
    </tr>
    <tr>
      <td>69</td>
      <td>82.99</td>
      <td>01.06.2024:19:23:19</td>
    </tr>
    <tr>
      <td>70</td>
      <td>82.41</td>
      <td>01.06.2024:19:23:22</td>
    </tr>
    <tr>
      <td>71</td>
      <td>82.95</td>
      <td>01.06.2024:19:23:28</td>
    </tr>
    <tr>
      <td>72</td>
      <td>80.03</td>
      <td>01.06.2024:19:23:32</td>
    </tr>
    <tr>
      <td>73</td>
      <td>86.92</td>
      <td>01.06.2024:19:23:38</td>
    </tr>
    <tr>
      <td>74</td>
      <td>86.23</td>
      <td>01.06.2024:19:23:46</td>
    </tr>
    <tr>
      <td>75</td>
      <td>85.09</td>
      <td>01.06.2024:19:24:19</td>
    </tr>
    <tr>
      <td>76</td>
      <td>85.27</td>
      <td>01.06.2024:19:24:44</td>
    </tr>
    <tr>
      <td>77</td>
      <td>82.93</td>
      <td>01.06.2024:19:25:10</td>
    </tr>
    <tr>
      <td>78</td>
      <td>83.07</td>
      <td>01.06.2024:19:25:23</td>
    </tr>
    <tr>
      <td>79</td>
      <td>83.09</td>
      <td>01.06.2024:19:25:25</td>
    </tr>
    <tr>
      <td>80</td>
      <td>89.36</td>
      <td>01.06.2024:19:25:32</td>
    </tr>
    <tr>
      <td>81</td>
      <td>81.64</td>
      <td>01.06.2024:19:25:35</td>
    </tr>
    <tr>
      <td>82</td>
      <td>80.13</td>
      <td>01.06.2024:19:26:08</td>
    </tr>
    <tr>
      <td>83</td>
      <td>89.89</td>
      <td>01.06.2024:19:26:11</td>
    </tr>
    <tr>
      <td>84</td>
      <td>83.07</td>
      <td>01.06.2024:19:26:17</td>
    </tr>
    <tr>
      <td>85</td>
      <td>87.44</td>
      <td>01.06.2024:19:26:20</td>
    </tr>
    <tr>
      <td>86</td>
      <td>85.68</td>
      <td>01.06.2024:19:26:22</td>
    </tr>
    <tr>
      <td>87</td>
      <td>80.60</td>
      <td>01.06.2024:19:26:31</td>
    </tr>
    <tr>
      <td>88</td>
      <td>82.35</td>
      <td>01.06.2024:19:26:37</td>
    </tr>
    <tr>
      <td>89</td>
      <td>80.53</td>
      <td>01.06.2024:19:26:56</td>
    </tr>
    <tr>
      <td>90</td>
      <td>81.22</td>
      <td>01.06.2024:19:27:10</td>
    </tr>
    <tr>
      <td>91</td>
      <td>87.68</td>
      <td>01.06.2024:19:27:11</td>
    </tr>
    <tr>
      <td>92</td>
      <td>80.37</td>
      <td>01.06.2024:19:27:17</td>
    </tr>
    <tr>
      <td>93</td>
      <td>81.67</td>
      <td>01.06.2024:19:27:20</td>
    </tr>
    <tr>
      <td>94</td>
      <td>87.36</td>
      <td>01.06.2024:19:27:29</td>
    </tr>
    <tr>
      <td>95</td>
      <td>80.01</td>
      <td>01.06.2024:19:27:50</td>
    </tr>
    <tr>
      <td>96</td>
      <td>84.31</td>
      <td>01.06.2024:19:27:53</td>
    </tr>
    <tr>
      <td>97</td>
      <td>80.39</td>
      <td>01.06.2024:19:27:55</td>
    </tr>
    <tr>
      <td>98</td>
      <td>87.86</td>
      <td>01.06.2024:19:28:04</td>
    </tr>
    <tr>
      <td>99</td>
      <td>89.45</td>
      <td>01.06.2024:19:28:11</td>
    </tr>
    <tr>
      <td>100</td>
      <td>84.46</td>
      <td>01.06.2024:19:28:14</td>
    </tr>
    <tr>
      <td>101</td>
      <td>87.54</td>
      <td>01.06.2024:19:28:17</td>
    </tr>
    <tr>
      <td>102</td>
      <td>84.79</td>
      <td>01.06.2024:19:28:22</td>
    </tr>
    <tr>
      <td>103</td>
      <td>80.15</td>
      <td>01.06.2024:19:28:28</td>
    </tr>
    <tr>
      <td>104</td>
      <td>81.49</td>
      <td>01.06.2024:19:28:31</td>
    </tr>
    <tr>
      <td>105</td>
      <td>82.22</td>
      <td>01.06.2024:19:28:32</td>
    </tr>
    <tr>
      <td>106</td>
      <td>81.97</td>
      <td>01.06.2024:19:28:43</td>
    </tr>
    <tr>
      <td>107</td>
      <td>82.76</td>
      <td>01.06.2024:19:28:59</td>
    </tr>
    <tr>
      <td>108</td>
      <td>86.81</td>
      <td>01.06.2024:19:29:02</td>
    </tr>
    <tr>
      <td>109</td>
      <td>81.89</td>
      <td>01.06.2024:19:29:10</td>
    </tr>
    <tr>
      <td>110</td>
      <td>82.51</td>
      <td>01.06.2024:19:29:16</td>
    </tr>
    <tr>
      <td>111</td>
      <td>89.91</td>
      <td>01.06.2024:19:29:19</td>
    </tr>
    <tr>
      <td>112</td>
      <td>89.74</td>
      <td>01.06.2024:19:29:23</td>
    </tr>
    <tr>
      <td>113</td>
      <td>89.09</td>
      <td>01.06.2024:19:29:25</td>
    </tr>
    <tr>
      <td>114</td>
      <td>87.82</td>
      <td>01.06.2024:19:29:46</td>
    </tr>
    <tr>
      <td>115</td>
      <td>86.73</td>
      <td>01.06.2024:19:29:59</td>
    </tr>
    <tr>
      <td>116</td>
      <td>83.23</td>
      <td>01.06.2024:19:30:02</td>
    </tr>
    <tr>
      <td>117</td>
      <td>82.82</td>
      <td>01.06.2024:19:30:05</td>
    </tr>
    <tr>
      <td>118</td>
      <td>85.03</td>
      <td>01.06.2024:19:30:14</td>
    </tr>
    <tr>
      <td>119</td>
      <td>87.57</td>
      <td>01.06.2024:19:30:16</td>
    </tr>
    <tr>
      <td>120</td>
      <td>82.33</td>
      <td>01.06.2024:19:30:49</td>
    </tr>
    <tr>
      <td>121</td>
      <td>86.07</td>
      <td>01.06.2024:19:30:52</td>
    </tr>
    <tr>
      <td>122</td>
      <td>83.76</td>
      <td>01.06.2024:19:30:53</td>
    </tr>
    <tr>
      <td>123</td>
      <td>87.65</td>
      <td>01.06.2024:19:30:55</td>
    </tr>
    <tr>
      <td>124</td>
      <td>83.38</td>
      <td>01.06.2024:19:31:20</td>
    </tr>
    <tr>
      <td>125</td>
      <td>81.61</td>
      <td>01.06.2024:19:31:22</td>
    </tr>
    <tr>
      <td>126</td>
      <td>88.64</td>
      <td>01.06.2024:19:31:29</td>
    </tr>
    <tr>
      <td>127</td>
      <td>83.84</td>
      <td>01.06.2024:19:31:32</td>
    </tr>
    <tr>
      <td>128</td>
      <td>89.85</td>
      <td>01.06.2024:19:31:37</td>
    </tr>
    <tr>
      <td>129</td>
      <td>89.98</td>
      <td>01.06.2024:19:31:49</td>
    </tr>
    <tr>
      <td>130</td>
      <td>84.02</td>
      <td>01.06.2024:19:31:58</td>
    </tr>
    <tr>
      <td>131</td>
      <td>84.77</td>
      <td>01.06.2024:19:32:01</td>
    </tr>
    <tr>
      <td>132</td>
      <td>80.63</td>
      <td>01.06.2024:19:32:16</td>
    </tr>
    <tr>
      <td>133</td>
      <td>89.04</td>
      <td>01.06.2024:19:32:19</td>
    </tr>
    <tr>
      <td>134</td>
      <td>89.77</td>
      <td>01.06.2024:19:32:53</td>
    </tr>
    <tr>
      <td>135</td>
      <td>81.13</td>
      <td>01.06.2024:19:33:07</td>
    </tr>
    <tr>
      <td>136</td>
      <td>89.63</td>
      <td>01.06.2024:19:33:10</td>
    </tr>
    <tr>
      <td>137</td>
      <td>85.04</td>
      <td>01.06.2024:19:33:11</td>
    </tr>
  </tbody>
</table>